.hidden
{
	display: none;
}

#wrapper
{  display: flex;
	width: 100%;
	min-width: 600px;
	height: auto;
	margin: 0 auto;
	flex-direction: column;
	flex-shrink: 2; 
}

#wallpaper
{
	width: 100%;
	height: auto;
 	margin: 0 auto;
 	text-align: center;
 	position: relative;
}
#wallpaper img
{
	width: 90%;
}
#wallpaper h1
{
  position: absolute;
  width: 100%;
  bottom: 40%;
  background-color: #fade99;
  color: #373232;
  text-transform: uppercase; 
  font-size: 100px;
}

#intro
{   height: auto;
	background-color: #373232;
	color: white;
	text-align: center;
	padding: 50px;
	margin-top: 50px
}

#Green_Harpoon
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 97%;
	height: auto;
	margin: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#Green_Harpoon h3
{ margin-bottom: 20px; }

#Green_Harpoon img
{
	width: 60%;
	padding: 20px;
}

#Brewers_reserve
 {  
  	width: 100%;
  	height: auto;
  	text-align: center;
  	position: relative;
  	background-color: #fade99;
  	padding-top: 30px;
  	padding-bottom: 55px;
  	margin-bottom: 40px;
  }
 #Brewers_reserve h3
 {
 	margin-bottom: 40px;
 }
#Brewers
{
	display: flex;
	flex-direction: column;
    text-align: right;
    margin-left: 20px;
    align-self: flex-start;
}
#Brewers div
{ 
    width: 50%;
    margin: 5px;
}
#Brewers_reserve img
{   position: absolute;
	width: 45%;
    float: right;
    bottom: 3%;
    margin-left: 40px;
}

#infected_wolverine
{ text-align: center;}
#infected_wolverine h3
{margin-bottom: 20px;}
#Wolverine
{ 
	width: 100%;
 	text-align: left;
 	position: relative;
   }
#Wolverine p
{
  position: absolute;
  bottom:10%;
  right: 0;
  width: 60%;
}
#Wolverine img
{
	width: 100%;
}

#conclude
{   height: auto;
	background-color: #373232;
	color: white;
	text-align: center;
	padding: 80px;
}
#conclude h3
{ margin-bottom: 30px; }


